<div>
  <h2> User </h2>
  <div class="">
    First Name: <%= @user.first_name %>
  </div>
  <div class="">
    Last Name: <%= @user.last_name %>
  </div>
  <div class="">
    Email: <%= @user.email %>
  </div>
</div>
<%= link_to "Users", users_path %>
