<div>
  <h2> Customer </h2>
  <div class="">
    First Name: <%= @customer.first_name %>
  </div>
  <div class="">
    Last Name: <%= @customer.last_name %>
  </div>
  <div class="">
    Email: <%= @customer.email %>
  </div>
</div>
<%= link_to "Customers", customers_path %>
