<section class="content-header">
</section>
<section class="content">
  <div class='row'>
    <div class='col-md-12'>
      <div class="box">
        <div class="box-body">
          <div class="">
            <h1> Welcome to POSko </h1>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="box">
        <div class="box-body">
          <div class="">
            <h1> Invoices: <%= @invoices.count %> </h1>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="box">
        <div class="box-body">
          <div class="">
            <h1> Products: <%= @products.count %> </h1>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="box">
        <div class="box-body">
          <div class="">
            <h1> Variants: <%= @variants.count %> </h1>
          </div>
        </div>
      </div>
    </div>
    <div class='col-md-6'>
      <div class="box">
        <div class="box-body">
          <div class="">
            <h1> Users: <%= @users.count %> </h1>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
