<section class="content-header">
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title"><%= @option_type.name %> </h3>
      <div class="box-tools pull-right">
        <div class="btn-group">
          <%= link_to "Add Option Value", new_option_type_option_value_path(@option_type), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="">
        <table class="table" id="option_values-table" >
          <thead>
            <tr>
              <th>Values </th>
            </tr>
          </thead>
          <tbody>
            <% @option_type.option_values.each do |value| %>
              <tr>
                <td><%= link_to value.name, value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</section>
