<section class="content-header">
</section>
<section class="content">
  <div class="box">
    <div class="box-header">
      <h3 class="box-title">Category</h3>
      <div class="box-tools pull-right">
        <div class="btn-group">
          <%= link_to "Add Category", new_category_path, class: "btn btn-primary" %>
        </div>
      </div>
    </div>
    <div class="box-body">
      <div class="">
        <ul>
          <% @categories.each do |category| %>
            <li>
              <%= category.name %>
              <%= link_to '+', new_category_subcategory_path(category_id: category.id) %>
              <%= render 'subcategories/subcategories', category: category %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
